.table-pagination
{
    display: flex;
    justify-content: center;
}
.form-group .help-block
{
    display: block !important;
}
.loader {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    z-index: 12000;
}
.loader img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 12000;

}
.loader-div {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 12000;
}
.timer {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    font-size: 20px;
    color: #000;
}
.nav-pills > li > a
{
    color: #fff;
}
.tab-content
{
    margin: 0!important;
    overflow: inherit!important;
    width: inherit!important;
    height: auto;
    text-align: inherit!important;
}
.tooltip-inner
{
    max-width: 800px !important;
}
.sort-result, .sort-result-mesh, .sort-feq
{
    cursor: pointer;
}
.td-pmids
{
    display: inline-block;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-color: #9c27b0 #F5F5F5;
    scrollbar-width: thin;
}


/*
 *  STYLE 4
 */

.td-pmids::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.td-pmids::-webkit-scrollbar
{
    width: 2px;
    background-color: #F5F5F5;
}

.td-pmids::-webkit-scrollbar-thumb
{
    background-color: #9c27b0;
    /*border: 2px solid #555555;*/
}

